* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  color: #333;
  font-family: system-ui, sans-serif;
}

.header {
  margin-top: 3rem;
  text-align: center;
}

.prev,
.pause,
.next {
  background: transparent;
  border: transparent;
  font-size: 2rem;
  margin-top: 1rem;
}

.img-container {
  display: grid;
  margin: auto;
  max-width: 1000px;
  min-height: 100%;
  padding-top: 3rem;
  place-items: center;
  position: relative;
}

.slide {
  display: none;
}

img {
  width: 100%;
}

/* 
.prev,
.next {
  color: lightgray;
  cursor: pointer;
  font-size: 4rem;
  font-weight: bold;
  margin-top: -22px;
  padding: 0.75rem;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transition: all 0.6s ease;
  user-select: none;
  width: auto;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.prev {
  border-radius: 0 5px 5px 0;
  left: 2px;
}

.next {
  border-radius: 5px 0 0 5px;
  right: 2px;
}

 */

.dots-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.dot {
  background: lightgray;
  border-radius: 50%;
  cursor: pointer;
  height: 1.25rem;
  margin: 0.25rem;
  width: 1.25rem;
}

.active {
  border: 2px solid royalblue;
}
